In [3]:
% load_ext sql

In [4]:
%%sql
sqlite:///CourseData.db

'Connected: @CourseData.db'

--Domain Integrity Queries
--(check that each column has sensible data types)

--Check to see that Catalog_ID and Title make sense given ProgramCode and ProgramNameb

In [5]:
%%sql
SELECT Catalog_ID,Course_Title,ProgramCode,ProgramName
FROM PROGRAMS
    JOIN COURSE USING (PID)
    LIMIT 20;

 * sqlite:///CourseData.db
Done.

[('AN 0301', 'Independent Study', 'AN', 'Asian Studies'),
 ('AN 0310', 'Asian Studies Seminar', 'AN', 'Asian Studies'),
 ('BU 0211', 'Legal Environment of Business', 'BU', 'Business'),
 ('BU 0220', 'Environmental Law and Policy', 'BU', 'Business'),
 ('BU 0311', 'The Law of Contracts, Sales, and Property', 'BU', 'Business'),
 ('BU 0312', 'The Law of Business Organizations and Financial Transactions', 'BU', 'Business'),
 ('BU 0320', 'Employment Law and Discrimination in the Workplace', 'BU', 'Business'),
 ('BU 0391', 'Seminar in Business Law and Ethics', 'BU', 'Business'),
 ('BL 0101', 'Black Lives Matter', 'BL', 'Black Studies'),
 ('BL 0398', 'Independent Study', 'BL', 'Black Studies'),
 ('BEN 0201', 'Biomechanics', 'BEN', 'Bioengineering'),
 ('BEN 0300', 'Biomedical Instrumentation', 'BEN', 'Bioengineering'),
 ('BEN 0331', 'Biomedical Signal Processing', 'BEN', 'Bioengineering'),
 ('BEN 0332', 'Biomedical Imaging', 'BEN', 'Bioengineering'),
 ('BEN 0333', 'Biomedical Visualization', 'BEN', 'Bioengineering'),
 ('BEN 0390', 'Bioengineering Design Project I', 'BEN', 'Bioengineering'),
 ('BEN 0391', 'Bioengineering Design Project II', 'BEN', 'Bioengineering'),
 ('AR 0110', 'Elementary Modern Standard Arabic I', 'AR', 'Arabic'),
 ('AR 0111', 'Elementary Modern Standard Arabic II', 'AR', 'Arabic'),
 ('AR 0210', 'Intermediate Modern Standard Arabic I', 'AR', 'Arabic')]

--Check to see that see that Dawn W Massey comes up as teaching AC classes ~ note: this is also a relational integrity check as it assesses whether FID FK in the COURSE_OFFERING table corresponds to the FID PK in the FACULTY table

In [6]:
%%sql
SELECT FACULTY.LName,FACULTY.FName,Title,Section,Semester,Year
FROM FACULTY
    JOIN COURSE_OFFERING USING(FID)
WHERE FACULTY.LName='Massey' and FACULTY.FName='Dawn W'
ORDER BY Year, Semester
;

 * sqlite:///CourseData.db
Done.

[('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', 'A', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', 'B', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Winter', 2015),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '01', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '02', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', 'DM', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Intro to Financial Accounting', 'A', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Intro to Financial Accounting', 'B', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '01', 'Summer', 2016),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Winter', 2016),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '01', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '02', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Independent Study', 'DM', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Independent Study in Accounting', 'DM', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Spring', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Summer', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', 'DM', 'Spring', 2019)]

--Note that the above is correct as Dawn W Massey also has taught Business Practicum for the last 4 semesters

--Entity Integrity Queries
--(check that the number of records in each table makes sense)

In [7]:
%%sql
SELECT COUNT(LName), COUNT(FName)
FROM FACULTY;

 * sqlite:///CourseData.db
Done.

[(1096, 1096)]

In [8]:
%%sql
SELECT DISTINCT COUNT(LName)
FROM FACULTY;

 * sqlite:///CourseData.db
Done.

[(1096,)]

In [9]:
%%sql
SELECT COUNT(crn)
FROM COURSE_OFFERING;

 * sqlite:///CourseData.db
Done.

[(15937,)]

In [10]:
%%sql
SELECT COUNT(Meetings)
FROM COURSE_OFFERING;

 * sqlite:///CourseData.db
Done.

[(15937,)]

In [11]:
%%sql
SELECT COUNT(ProgramName)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(87,)]

In [12]:
%%sql
SELECT DISTINCT COUNT(ProgramName)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(87,)]

In [13]:
%%sql
SELECT COUNT(Catalog_ID)
FROM COURSE;

 * sqlite:///CourseData.db
Done.

[(4423,)]

In [14]:
%%sql
SELECT DISTINCT COUNT(Catalog_ID)
FROM COURSE;

 * sqlite:///CourseData.db
Done.

[(4423,)]

In [15]:
%%sql
SELECT COUNT(Room)
FROM LOCATION;

 * sqlite:///CourseData.db
Done.

[(207,)]

In [16]:
%%sql
SELECT COUNT(Building)
FROM LOCATION;

 * sqlite:///CourseData.db
Done.

[(207,)]

%%sql
SELECT COUNT(Start)
FROM CLASS_MEETINGS;

In [17]:
%%sql
SELECT COUNT(End)
FROM CLASS_MEETINGS;

 * sqlite:///CourseData.db
Done.

[(429575,)]

--Relational Integrity Queries
--(check that the FKs are join compatible w/PKs; make sure mandatory relationships fulfill NOT NULL constraint)

--Make sure Title & Course_Title make sense as similar

In [18]:
%%sql
SELECT CRN,Semester,Year,Title,COURSE.Catalog_ID,Course_Title
FROM COURSE_OFFERING
     JOIN COURSE USING(CID)
LIMIT 20;

 * sqlite:///CourseData.db
Done.

[('71188', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71205', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71206', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71207', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71208', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71209', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71371', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71384', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71572', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71804', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71805', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('72052', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('72053', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('72054', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('72288', 'Fall', 2017, 'Introduction to Financial Accounting', 'AC 0011', 'Introduction to Financial Accounting'),
 ('71159', 'Fall', 2017, 'Introduction to Management Accounting', 'AC 0012', 'Introduction to Management Accounting'),
 ('72055', 'Fall', 2017, 'Introduction to Management Accounting', 'AC 0012', 'Introduction to Management Accounting'),
 ('71040', 'Fall', 2017, 'Intermediate Accounting I', 'AC 0203', 'Intermediate Accounting I'),
 ('71041', 'Fall', 2017, 'Intermediate Accounting I', 'AC 0203', 'Intermediate Accounting I'),
 ('71950', 'Fall', 2017, 'Intermediate Accounting I', 'AC 0203', 'Intermediate Accounting I')]

--Make sure Catalog_ID & ProgramCode, ProgramName make sense as similar

In [19]:
%%sql
SELECT Catalog_ID,ProgramCode,ProgramName
FROM COURSE
    JOIN PROGRAMS USING (PID)
LIMIT 20;

 * sqlite:///CourseData.db
Done.

[('AN 0301', 'AN', 'Asian Studies'),
 ('AN 0310', 'AN', 'Asian Studies'),
 ('BU 0211', 'BU', 'Business'),
 ('BU 0220', 'BU', 'Business'),
 ('BU 0311', 'BU', 'Business'),
 ('BU 0312', 'BU', 'Business'),
 ('BU 0320', 'BU', 'Business'),
 ('BU 0391', 'BU', 'Business'),
 ('BL 0101', 'BL', 'Black Studies'),
 ('BL 0398', 'BL', 'Black Studies'),
 ('BEN 0201', 'BEN', 'Bioengineering'),
 ('BEN 0300', 'BEN', 'Bioengineering'),
 ('BEN 0331', 'BEN', 'Bioengineering'),
 ('BEN 0332', 'BEN', 'Bioengineering'),
 ('BEN 0333', 'BEN', 'Bioengineering'),
 ('BEN 0390', 'BEN', 'Bioengineering'),
 ('BEN 0391', 'BEN', 'Bioengineering'),
 ('AR 0110', 'AR', 'Arabic'),
 ('AR 0111', 'AR', 'Arabic'),
 ('AR 0210', 'AR', 'Arabic')]

--Make sure Day,Start,End & Meetings coincide

In [20]:
%%sql
SELECT CLASS_MEETINGS.CRN,Day,Start,End,Section,Meetings
FROM CLASS_MEETINGS
    JOIN COURSE_OFFERING USING (COID)
LIMIT 100;

 * sqlite:///CourseData.db
Done.

[('70384', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-07T08:00:00', '2014-10-07T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-10T08:00:00', '2014-10-10T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-17T08:00:00', '2014-10-17T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-21T08:00:00', '2014-10-21T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-24T08:00:00', '2014-10-24T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-10-28T08:00:00', '2014-10-28T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-10-31T08:00:00', '2014-10-31T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-04T08:00:00', '2014-11-04T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-11-07T08:00:00', '2014-11-07T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-11T08:00:00', '2014-11-11T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-11-14T08:00:00', '2014-11-14T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-18T08:00:00', '2014-11-18T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-11-21T08:00:00', '2014-11-21T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-11-25T08:00:00', '2014-11-25T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'T', '2014-12-02T08:00:00', '2014-12-02T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70384', 'F', '2014-12-05T08:00:00', '2014-12-05T09:15:00', 'C01', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-09-02T09:30:00', '2014-09-02T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-09-05T09:30:00', '2014-09-05T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-09-09T09:30:00', '2014-09-09T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-09-12T09:30:00', '2014-09-12T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-09-16T09:30:00', '2014-09-16T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-09-19T09:30:00', '2014-09-19T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-09-23T09:30:00', '2014-09-23T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-09-26T09:30:00', '2014-09-26T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-09-30T09:30:00', '2014-09-30T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-10-03T09:30:00', '2014-10-03T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-10-07T09:30:00', '2014-10-07T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-10-10T09:30:00', '2014-10-10T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-10-17T09:30:00', '2014-10-17T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-10-21T09:30:00', '2014-10-21T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-10-24T09:30:00', '2014-10-24T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-10-28T09:30:00', '2014-10-28T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-10-31T09:30:00', '2014-10-31T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-11-04T09:30:00', '2014-11-04T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-11-07T09:30:00', '2014-11-07T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-11-11T09:30:00', '2014-11-11T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-11-14T09:30:00', '2014-11-14T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-11-18T09:30:00', '2014-11-18T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-11-21T09:30:00', '2014-11-21T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-11-25T09:30:00', '2014-11-25T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'T', '2014-12-02T09:30:00', '2014-12-02T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70385', 'F', '2014-12-05T09:30:00', '2014-12-05T10:45:00', 'C02', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-09-02T12:30:00', '2014-09-02T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-09-05T12:30:00', '2014-09-05T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-09-09T12:30:00', '2014-09-09T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-09-12T12:30:00', '2014-09-12T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-09-16T12:30:00', '2014-09-16T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-09-19T12:30:00', '2014-09-19T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-09-23T12:30:00', '2014-09-23T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-09-26T12:30:00', '2014-09-26T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-09-30T12:30:00', '2014-09-30T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-10-03T12:30:00', '2014-10-03T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-10-07T12:30:00', '2014-10-07T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-10-10T12:30:00', '2014-10-10T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-10-17T12:30:00', '2014-10-17T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-10-21T12:30:00', '2014-10-21T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-10-24T12:30:00', '2014-10-24T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-10-28T12:30:00', '2014-10-28T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-10-31T12:30:00', '2014-10-31T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-11-04T12:30:00', '2014-11-04T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-11-07T12:30:00', '2014-11-07T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-11-11T12:30:00', '2014-11-11T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-11-14T12:30:00', '2014-11-14T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-11-18T12:30:00', '2014-11-18T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-11-21T12:30:00', '2014-11-21T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-11-25T12:30:00', '2014-11-25T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'T', '2014-12-02T12:30:00', '2014-12-02T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70382', 'F', '2014-12-05T12:30:00', '2014-12-05T13:45:00', 'C03', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]"),
 ('70291', 'R', '2014-09-04T11:00:00', '2014-09-04T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-09-08T11:00:00', '2014-09-08T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-09-11T11:00:00', '2014-09-11T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-09-15T11:00:00', '2014-09-15T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-09-18T11:00:00', '2014-09-18T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-09-22T11:00:00', '2014-09-22T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-09-25T11:00:00', '2014-09-25T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-09-29T11:00:00', '2014-09-29T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-10-02T11:00:00', '2014-10-02T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-10-06T11:00:00', '2014-10-06T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-10-09T11:00:00', '2014-10-09T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-10-16T11:00:00', '2014-10-16T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-10-20T11:00:00', '2014-10-20T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-10-23T11:00:00', '2014-10-23T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-10-27T11:00:00', '2014-10-27T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-10-30T11:00:00', '2014-10-30T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-11-03T11:00:00', '2014-11-03T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-11-06T11:00:00', '2014-11-06T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-11-10T11:00:00', '2014-11-10T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-11-13T11:00:00', '2014-11-13T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'M', '2014-11-17T11:00:00', '2014-11-17T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]"),
 ('70291', 'R', '2014-11-20T11:00:00', '2014-11-20T12:15:00', 'C04', "[{'days': 'MR', 'times': '1100am-1215pm', 'dates': '09/02-12/08', 'location': 'DSB 111'}]")]

--Want to see that Dawn W Massey comes up as teaching AC classes ~ note: this is also a “Domain Integrity Query” – i.e., assesses if the data “makes sense”

In [21]:
%%sql
SELECT FACULTY.LName,FACULTY.FName,Title,Section,Semester,Year
FROM FACULTY
    JOIN COURSE_OFFERING USING(FID)
WHERE FACULTY.LName='Massey' and FACULTY.FName='Dawn W'
ORDER BY Year, Semester
;

 * sqlite:///CourseData.db
Done.

[('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2014),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2015),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', 'A', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', 'B', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2015),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Winter', 2015),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '01', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '02', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Issues in Accounting Ethics', '03', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', 'DM', 'Fall', 2016),
 ('Massey', 'Dawn W', 'Intro to Financial Accounting', 'A', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Intro to Financial Accounting', 'B', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2016),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '01', 'Summer', 2016),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Winter', 2016),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '01', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Introduction to Financial Accounting', '02', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Independent Study', 'DM', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Issues in Internal Audit', '01', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Independent Study in Accounting', 'DM', 'Spring', 2017),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '01', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '02', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Research on Contemporary Issues in Accounting', '03', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Fall', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Spring', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', '01', 'Summer', 2018),
 ('Massey', 'Dawn W', 'Business Practicum', 'DM', 'Spring', 2019)]

--Note that the above is correct as Dawn W Massey also has taught Business Practicum for the last 4 semesters