just some checks

In [1]:
import pandas as pd
import numpy as np

In [2]:
!pwd

/home/jupyter-khickey/BA510/final-project-back-row-squad/SourceData/Catalogs

In [3]:
path = 'CourseCatalog2017_2018.csv'

df = pd.read_csv(path)

In [4]:
df.head()

,program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description
0,AN,Asian Studies,AN 0301,Independent Study,1-3 Credits,NaN,NaN,NaN,NaN,Students undertake an individualized program o...
1,AN,Asian Studies,AN 0310,Asian Studies Seminar,3 Credits,NaN,NaN,NaN,NaN,This seminar examines selected topics concerni...
2,BU,Business,BU 0211,Legal Environment of Business,3 Credits,Junior standing.,NaN,NaN,NaN,This course examines the broad philosophical a...
3,BU,Business,BU 0220,Environmental Law and Policy,3 Credits,NaN,NaN,NaN,"EVME Environmental Studies Major Elective, EVP...",This course surveys issues arising out of fede...
4,BU,Business,BU 0311,"The Law of Contracts, Sales, and Property",3 Credits,BU 0211.,NaN,NaN,NaN,This course examines the components of common ...

In [5]:
df['program_code'].value_counts().count()

83

In [10]:
path2 = './../Fall2018/courses.csv'

df2 = pd.read_csv(path2)
df2.head()

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
0,Fall2018,74177,AC 0011,01C,3.000,Introduction to Financial Accounting,"[{'days': 'MR', 'times': '0330pm-0445pm', 'dat...",['MR 0330pm-0445pm 09/04-12/10 DSB 112'],Michael P. Coyne,0,28,-28
1,Fall2018,74194,AC 0011,02C,3.000,Introduction to Financial Accounting,"[{'days': 'TF', 'times': '0200pm-0315pm', 'dat...",['TF 0200pm-0315pm 09/04-12/10 DSB 105'],Jo Ann Drusbosky,0,32,-32
2,Fall2018,74195,AC 0011,03C,3.000,Introduction to Financial Accounting,"[{'days': 'TF', 'times': '0330pm-0445pm', 'dat...",['TF 0330pm-0445pm 09/04-12/10 DSB 105'],Jo Ann Drusbosky,0,32,-32
3,Fall2018,74196,AC 0011,04C,3.000,Introduction to Financial Accounting,"[{'days': 'MR', 'times': '0800am-0915am', 'dat...",['MR 0800am-0915am 09/04-12/10 DSB 110B'],Kara E. Hunter,0,29,-29
4,Fall2018,74197,AC 0011,05C,3.000,Introduction to Financial Accounting,"[{'days': 'MR', 'times': '0930am-1045am', 'dat...",['MR 0930am-1045am 09/04-12/10 DSB 110B'],Kara E. Hunter,0,29,-29

In [18]:
df2['primary_instructor'].value_counts()

Nicole Elizabeth  Heller       54
Sarah Jennie  Bollinger        14
Sonya R.  Huber                14
TBA                            12
Brian G.  Walker               10
Amalia I.  Rusu                 8
Catherine J.  Andersen          8
Laura A.  Conklin               8
Terri L.  Germain-Williams      7
Qin   Zhang                     7
Michael Walden  Creane          7
Marice E.  Rose                 7
Michael A.  Camporiale          7
Melissa A.  Roberto             7
Gloria J.  Fazio                6
Margaret A.  Wills              6
Niall P.  Brennan               6
Robert A.  Hardy                6
Rose P.  Rodrigues              6
Patrick A.  Kennedy             6
John R.  Miecznikowski          6
Aaron R.  Van Dyke              6
Thomas Joseph  Murray           6
David A.  Zera                  6
Kelly Ann  Sullivan             6
Diana R.  Mager                 6
Nancy A.  Moriber               5
Christine   Earls               5
Jeffrey N.  Denenberg           5
James E.  Biardi                5
                               ..
Lee   Combrinck-Graham          1
Karen Joyce  Corcoran           1
Marcia   Arambulo Rodriguez     1
Jamie A.  Whiteman              1
Mary Elizabeth  Nelson          1
Thomas   Larkin                 1
Kevin   Corcoran                1
John D.  Van Ness               1
Noradeen   Farlekas             1
Michael   Blagys                1
Nicholas David  Kapoor          1
Gina   Trovato                  1
Hongmei   Li                    1
Megan K.  Paqua                 1
Ashley   Stoehr                 1
Andrew M.  Blum                 1
Kristen   Tharrington           1
Kris F.  Sealey                 1
Patricia A.  Morrissey          1
Gale J.  Bellas                 1
Jeremy L.  Sabella              1
Ralph   Valenzisi               1
William H.  Dornfeld            1
Michael   Mitchell              1
Hildegard H.  Szokol            1
Robert   Harrity                1
Ingeborg   Haug                 1
John   Mendelsohn               1
Allison J.  Eastman             1
Erik   Kubik                    1
Name: primary_instructor, Length: 584, dtype: int64